.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(171, 212, 75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(17, 26, 78);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head{
  font-size: 45px;
  color:white;
  background-color:rgb(15,17,35);
  text-align: center;
  
  text-shadow: pink;
  margin: 1em 0 0.5em 0;

	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	
	line-height: 42px;
	text-transform: uppercase;
	/* text-shadow: 3px 2px rgb(223, 97, 135), 3px 2px rgb(245, 243, 108); */
  
}

.menu {
  list-style-type: none;
  height: 40px;
  margin-top: 20px;
  padding: 0;
  overflow: hidden;
  background-color:rgb(15,17,35);
  
}
.b{
  /* margin-top: 8px;
  margin-left: 0px; */
  background-color: #61dafb;
  border-radius: 20px;
  width:100px
}

.link{
  color:rgb(10, 10, 10);
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  /* background-color: #61dafb; */
 }

.home{
  margin-left:50px;
  margin-top: 30px;
  color:white;
}

.img{
  float:right;
  width:300px; 
  height:300px;
  margin-right: 20%;
  border:solid black 5px;

}
/* .board{
  background-color: bisque;
  margin-right: 50px;
  margin-left: 50px;
} */

